extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Hey, Prospective Employer!
      p.lead.text-light
        | This portfolio is a marketing document meant to demonstrate my myriad skills, including, but not limited too: web development, soft skills, lifelong learning, technical prowess, and the ability to use the word "myriad" correctly in a sentence. Am I hired? 
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      .cell
        a(href='/projects')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 My Site
      .cell
        a(href='/projects')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 My Site
      .cell
        a(href='/projects')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 My Site
      .cell
        a(href='/projects')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 My Site
      .cell
        a(href='/projects')
          img.thumbnail(src='https://placehold.it/550x550')
          h5 My Site